.Login {
  position: relative;
  margin: 0 auto;
  width: 1366px;
  height: 768px;
  background: url("./images/popup_bg.png") center no-repeat;
  background-size: 615px;
  color: #d4cfba;
  font-size: 14.5px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transform-origin: top left;
  transition: all 500ms ease-in-out !important; }
  .Login > * {
    margin: 0 auto;
    padding: 0 72px;
    width: 615px; }
  .Login .title {
    position: absolute;
    top: 60px;
    width: 392px;
    height: 163.5px;
    background: url("./images/Game_logo.png");
    background-size: 100%;
    color: transparent; }
  .Login .description {
    margin-top: 50px;
    margin-bottom: 25px;
    line-height: 1.5em; }
  .Login .field {
    margin-bottom: 15px; }
    .Login .field label {
      color: #ffe4a9;
      text-transform: uppercase;
      text-shadow: 2px 2px 2px black; }
    .Login .field input {
      margin: 5px 0;
      padding: 4px 20px 0;
      width: 471.5px;
      height: 42px;
      background: url("./images/Game_Login_form.png");
      background-size: 471.5px;
      color: #312a25;
      letter-spacing: 3px;
      /* https://stackoverflow.com/a/37432260 */ }
      .Login .field input::placeholder {
        color: #666;
        letter-spacing: 2px; }

@-webkit-keyframes autofill {
  to {
    background: url("./images/Game_Login_form.png");
    background-size: 471.5px; } }
      .Login .field input:-webkit-autofill {
        -webkit-animation-name: autofill;
        -webkit-animation-fill-mode: both; }
  .Login .form-error {
    height: 1em;
    font-size: 14.5px;
    white-space: nowrap;
    overflow: hidden; }
    .Login .form-error .error {
      width: 100%;
      color: #ff5400;
      text-overflow: ellipsis;
      overflow: hidden;
      display: inline-block; }
  .Login .bottom {
    margin-top: 5px;
    text-align: center; }
