.Button {
  position: relative;
  margin: 0 6px;
  padding-bottom: 3px;
  width: 188.5px;
  height: 58px;
  background-size: 100%;
  background-image: url("./images/Game_buttons2.png");
  color: #fff;
  font-family: 'Almendra Bold';
  font-size: 15.4px;
  letter-spacing: 2.5px;
  text-shadow: 0 0 15px rgba(244, 229, 191, 0.6);
  cursor: pointer; }
  .Button.green {
    background-image: url("./images/Game_buttons2.png"); }
  .Button.red {
    background-image: url("./images/Game_buttons1.png"); }
  .Button.blue {
    background-image: url("./images/Game_buttons3.png"); }
  .Button:hover {
    background-position: 0 -58px; }
  .Button:active {
    background-position: 0 -116px; }
  .Button.loading:after {
    content: "";
    position: absolute;
    left: 24px;
    top: 11px;
    width: 138px;
    height: 31px;
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.5) 50%, rgba(255, 255, 255, 0) 100%);
    background-size: 600% 100%;
    display: inline-block;
    animation: loadingButton 3s normal infinite; }

@keyframes loadingButton {
  from {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  to {
    background-position: 0% 50%; } }

.Button.small {
  padding-bottom: 2px;
  width: 162.5px;
  height: 50px;
  font-size: 14px;
  line-height: 20px; }
  .Button.small:hover {
    background-position: 0 -50px; }
  .Button.small:active {
    background-position: 0 -100px; }
  .Button.small.loading:after {
    left: 22px;
    top: 10px;
    width: 116px;
    height: 27px; }
